{{ define "title"}}
<section class="text-center px-4 py-8 mb-4 bg-gray-100 border-b">
  <div class="max-w-4xl mx-auto text-left">
    
    <h1 class="text-3xl roboto-slab font-medium text-gray-700">{{ .Title }}</h1>
    
    <p class="text-xl roboto-mono font-light leading-loose text-gray-dark">{{ .Description }}</p>
    <time class="float-left font-light text-gray-400">{{ .Lastmod.Format "2006, January 02" }}</time>
  </div>
</section>
{{ end }}

{{ define "main" }}

<section>
    <div>
      <ul>
        {{ range .Data.Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .Permalink}}">{{ .Title }}</a>
          <span>{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
</section>
{{ end }}

