{{ define "title"}}
<section class="text-center px-4 py-8 mb-4 bg-gray-100 border-b">
  
  <div class="max-w-4xl mx-auto text-left">
    
    <h1 class="text-3xl roboto-slab font-medium text-gray-700">{{ .Title }}</h1>
    
    <p class="text-xl roboto-mono font-light leading-loose text-gray-dark">{{ .Description }}</p>

    <div class="article-tags pb2">
      {{ if .Params.tags }}
        <span style="line-height: 2.2;">
          {{ range $index, $tag := .Params.tags }}
          {{ if gt $index 0 }}
          {{ end }}
          
          <a class="article-tag 
              source-sans-pro 
              link xdim f5 fw2 
              lh-wide black-80
              b--black-20
              br3__bt__bl__br--top__br--left__na1__hover-m0__design#3
              ba br3 design#1
              bl__bb__hover-m0__na1__design#2
              pv1 ph2 mh0
              bg-animate hover-bg-washed-yellow
              animate 

              "
          aria-label="Go to {{ $tag}} tag"
          href="{{ "tags/" | relURL }}{{ . | urlize }}"><i class="icon icon-hash"></i>{{ $tag }}</a>
          {{ end }}</span>
        {{ end }}  
      </div>  

    <p><time class="float-left text-gray-400">{{ .Date.Format "2006 January 2" }}</time></p>
    <p><time class="float-right text-gray-400">Last modified: {{ .Lastmod.UTC.Format "2006 January 2, 15:04 MST" }}</time></p>
    
  </div>

  
</section>

{{ end }}

{{ define "main" }}
    <!-- MAIN _default/single.html -->
    <main class="w-full">
      
      <section class="prose prose-lg max-w-4xl mx-auto px-3 mt-12">
        <div class="article-content f4 f6-m lh-wide">
          <aside class="toc mt2">
            <div class="toc-container br2 ba b--black-20 pv2 pl4 pr2 mt4
            washed-green
            pattern-zigzag-xl
            ">
              <button class="toggle-toc link black bg-animate dim" onclick="toggleTableOfContents()"></button>                
              <h1 class="f2 f2-m f2-l fw5 mb1 mt1 pa0 lh-title black fw7">İçindekiler</h1>
              <div class="toc show">
                {{ .TableOfContents }}   
              </div>
            </div>           
          </aside>

          {{ .Content }}
        </div>

      </section>

      <section class="prose prose-lg max-w-4xl mx-auto px-3 mt-12">
        <div class="content">
          {{ .Content }}
        </div>

      </section>
    </main>
  <!-- MAIN _default/single.html -->
{{ end }}