{{ define "title"}}
<section class="text-center px-4 py-8 mb-4 bg-gray-100 border-b">
  <div class="max-w-4xl mx-auto text-left">
    <h1 class="text-3xl roboto-slab font-medium text-gray-700">{{ lower .Title }}</h1>    
  </div>
</section>
{{ end }}

{{ define "main" }}
  {{ range $group := (.Pages.GroupByDate "2006") -}}
  <section class="max-w-4xl mx-auto px-3">
    <h2 class="section-title roboto-slab font-medium flex justify-between align-bottom text-3xl border-b-4 text-gray-700 border-gray-700 py-2 my-2">
      {{ $posts := ($group.Pages.ByParam "order").Reverse }}
      {{ $group.Key }} <span class="font-extralight">({{ (len $posts )}})</span>
    </h2>
    <div class="series">
      {{ range $post := $posts }}
        <div class="episode">
          <a href="{{ $post.Permalink }}" class="flex items-center hover:bg-gray-100 text-lg px-3 py-3 my-1"
          aria-label="Go to {{ $post.Title }}">
            <div class="post-row flex items-stretch">
              <h3 class="roboto text-gray-700">{{ $post.Title }}</h3>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </section>
  {{ end }}
{{ end }}