
.icon-home:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-hash:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */