<footer class="w-full border-t mx-auto max-w-4xl py-6 mt-4 mb-8 text-xs md:text-lg">
    <div class="container text-center mx-auto">
      <!-- footer -->
      <nav class="container footer-links">
        <!-- footer menu items -->
        <a href="https://bulten.guneysu.xyz/" target="_blank" rel="noopener noreferrer" class="px-4 py-3 text-gray-600 align-middle hover:bg-gray-100 rounded-lg">newsletter</a>
        <a href="/index.xml" class="px-4 py-3 text-gray-600 align-middle hover:bg-gray-100 rounded-lg">
          rss
        </a>
        <a href="#" class="px-4 py-3 text-gray-600 align-middle hover:bg-gray-100 rounded-lg">stackoverflow</a>
        <a href="#" class="px-4 py-3 text-gray-600 align-middle hover:bg-gray-100 rounded-lg">linkedin</a>
        <a href="#" class="px-4 py-3 text-gray-600 align-middle hover:bg-gray-100 rounded-lg">github</a>
      </nav>
    </div>

    <div class="text-center text-xs my-12 font-sans text-gray-400">theme is inspired from <a class="hover:underline py-4" href="https://www.taniarascia.com/">Tania Rascia</a>'s blog</div>
  </footer>