{{ define "title"}}
<section class="text-center px-4 py-8 mb-4 bg-gray-100 border-b">
  <div class="max-w-4xl mx-auto text-left">
    
    <h1 class="text-4xl roboto-slab font-medium text-gray-700">{{ .Site.Title }}</h1>
    <!-- <p class="text-large roboto-slab font-light leading-loose text-gray-dark">{{ .Site.Params.Tagline }}</p> -->

  </div>
</section>
{{ end }}

{{ define "main" }}

  <!-- series -->
    {{ if gt (len .Site.Taxonomies.series) 0 }}
      <section class="max-w-4xl mx-auto px-3">
        <h2 class="section-title roboto-slab font-medium flex justify-between align-bottom text-3xl border-b-4 text-gray-700 border-gray-700 py-2 my-2">
          series
          <a class="section-button font-mono font-extralight rounded-lg bg-gray-100 hover:bg-gray-200 leading-4 text-lg py-3 px-2" href="series/">all</a>
        </h2>
        <div class="series">

          {{ range $key, $taxonomy := .Site.Taxonomies.series }}
              {{ $currentTagCount := len $taxonomy.Pages }}
              {{ $count := len $taxonomy.Pages }}
              
              <div class="episode">
                <a href="{{ .Page.Permalink }}" 
                class="flex items-center hover:bg-gray-100 text-lg px-3 py-3 my-1"
                aria-label="Go to {{ $key }}">
                  <div class="post-row flex items-stretch">
                    <h3 class="roboto text-gray-700">{{ .Page.Title }} ({{ .Count }})</h3>
                  </div>
                </a>
              </div>

          {{ end }}

        </div>
      </section>
      {{ end }}
      <!-- series -->

      <!-- articles -->
      <section class="max-w-4xl mx-auto px-3">
        {{ range $grp := (where .Data.Pages "Type" "article") -}}
        <h2 class="section-title roboto-slab font-medium flex justify-between align-bottom text-3xl border-b-4 text-gray-700 border-gray-700 py-2 my-2">
          latest articles
          <a class="section-button font-mono font-extralight rounded-lg bg-gray-100 hover:bg-gray-200 leading-4 text-lg py-3 px-2" href="article/">all</a>
        </h2>

        {{ $posts := first 3 ($grp.Pages.ByParam "order").Reverse }}
        <div class="articles">
          {{ range $post := $posts}}
          <div class="article">
            <a href="{{ $post.Permalink }}" class="flex items-center hover:bg-gray-100 text-lg px-3 py-3 my-1">
              <div class="post-row flex items-stretch">
                <time class="font-mono font-extralight roboto-mono text-gray-500 pr-8">{{ $post.Date.Format "Jan 02" }}</time>
                <h3 class="roboto text-gray-700">{{ $post.Title }}</h3>
              </div>
            </a>
          </div>
          {{ end }}
          

        </div>
        {{ end }}
      </section>
      <!-- articles -->

      <!-- posts -->
      <section class="max-w-4xl mx-auto px-3">
        <h2 class="section-title roboto-slab font-medium flex justify-between align-bottom text-3xl border-b-4 text-gray-700 border-gray-700 py-2 my-2">
          latest posts
          <a class="section-button font-mono font-extralight rounded-lg bg-gray-100 hover:bg-gray-200 leading-4 text-lg py-3 px-2" href="post/">all</a>
        </h2>
        <div class="posts">
          {{ range $grp := (where .Data.Pages "Type" "post") -}}
          {{ $posts := first 3 ($grp.Pages.ByParam "order").Reverse }}
          
          {{ range $post := $posts}}
          <div class="post">
            <a href="{{ $post.Permalink }}" class="flex items-center hover:bg-gray-100 text-lg px-3 py-3 my-1">
              <div class="post-row flex items-stretch">
                <time class="font-mono font-extralight roboto-mono text-gray-500 pr-8">{{ $post.Date.Format "Jan 02" }}</time>
                <h3 class="roboto text-gray-700">{{ $post.Title }}</h3>
              </div>
            </a>
          </div>
          {{ end }}

        </div> 
          
          {{ end }}
      </section>
      <!-- posts -->      

      <!-- projects -->
      <section class="max-w-4xl mx-auto px-3">
        <h2 class="section-title roboto-slab font-medium flex justify-between align-bottom text-3xl border-b-4 text-gray-700 border-gray-700 py-2 my-2">
          projects
          <a 
            class="section-button font-mono font-extralight rounded-lg bg-gray-100 hover:bg-gray-200 leading-4 text-lg py-3 px-2" 
            target="_blank" rel="noopener noreferrer"
            href="https://github.com/guneysus">all</a> <!-- TODO-->
        </h2>
        <div class="projects grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

          <div class="project hover:bg-gray-100 px-3 py-4">
            <a href="https://guneysus.github.io/pake/" target="_blank" rel="noreferrer">
              <h3 class="roboto-slab font-medium text-xl text-gray-700">pake</h3>
              <div class="description text-lg font-light">GNU Make like simple build/automation tool implemented with Powershell</div>
            </a>
          </div>

          <div class="project hover:bg-gray-100 px-3 py-4">
            <a href="https://guneysus.github.io/ndig/" target="_blank" rel="noreferrer">
              <h3 class="roboto-slab font-medium text-xl text-gray-700">ndig</h3>
              <div class="description text-lg font-light">dig like simple CLI DNS Lookup tool, implemented with .NET Core</div>
            </a>
          </div>

          <div class="project hover:bg-gray-100 px-3 py-4">
            <a href="https://guneysus.github.io/whatismybrowser/" target="_blank" rel="noreferrer">
              <h3 class="roboto-slab font-medium text-xl text-gray-700">What is my/your browser?</h3>
              <div class="description text-lg font-light">a simple whatsmybrowser.org clone but on the client side.</div>
            </a>
          </div>

          <div class="project hover:bg-gray-100 px-3 py-4">
            <a href="https://guneysus.github.io/predicate-builder/" target="_blank" rel="noreferrer">
              <h3 class="roboto-slab font-medium text-xl text-gray-700">Predicate Builder</h3>
              <div class="description text-lg font-light">Simple parser to converting strings to Predicates that can be used by any LINQ providers like Entity Framework.</div>
            </a>
          </div>

          <div class="project hover:bg-gray-100 px-3 py-4">
            <a href="https://guneysus.github.io/Devup/" target="_blank" rel="noreferrer">
              <h3 class="roboto-slab font-medium text-xl text-gray-700">Devup</h3>
              <div class="description text-lg font-light">YAML based, docker-compose like tools, helping to start development environments</div>
            </a>
          </div>
        </div>
      </section>
      <!-- projects -->
{{ end }}
